//
//  debug.xcconfig
//  BAKit
//
//  Created by Ed Salter on 4/2/19.
//  Copyright © 2019 CocoaPods. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_KEY = 209d9729-0887-466b-a061-b2a42bd4626a
APP_ID = 127
BASE_API_STRING = https://springer-api.boardactive.com/mobile/v1
beb97634-3bc8-43d2-a2d0-491e8ae58032
