<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908412444735-0l4lj0ksualbgqhlhak9f9r6c6695nsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908412444735-0l4lj0ksualbgqhlhak9f9r6c6695nsn</string>
	<key>API_KEY</key>
	<string>AIzaSyCw-SfR0bVG_r8iX6Wk_ZpPxXF-tBsD7Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>908412444735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.BAKit-Example</string>
	<key>PROJECT_ID</key>
	<string>boardactive-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>boardactive-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908412444735:ios:f28c027745320816</string>
	<key>DATABASE_URL</key>
	<string>https://boardactive-sdk.firebaseio.com</string>
</dict>
</plist>